body {
  background-color: #999;
  font-family: 'Open Sans';
  color:#999;
}

.header{
  background-image: url("header.jpg");
  background-size: cover;
  height: 181px;
  background-repeat: no-repeat;
}

.navbar-inverse{
  background-color: darkred;
  color:#999 ;
  font-size: 16px;
}

h1{
  font-size: 16px;
  text-align: center;
}
.well{
  background-color: darkred;
}
ul{
  list-style-type: none;
}
.midd-pic{
  background-image: url("frontpage.jpg");
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

h2{
  font-size: 17px;
  margin-bottom: 2px;
}